<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.www.myblog.base.data.mapper.SysMenuMapper">
    <resultMap id="BaseResultMap" type="com.www.myblog.base.data.entity.SysMenuEntity">
        <!--@mbg.generated-->
        <!--@Table sys_menu-->
        <id column="MENU_ID" property="menuId" />
        <result column="MENU_CODE" property="menuCode" />
        <result column="MENU_URL" property="menuUrl" />
        <result column="MENU_NAME" property="menuName" />
        <result column="VUE_PATH" property="vuePath" />
        <result column="SCOPE" property="scope" />
        <result column="PARENT_ID" property="parentId" />
        <result column="MENU_ICON" property="menuIcon" />
        <result column="MENU_ORDER" property="menuOrder" />
        <result column="MENU_TYPE" property="menuType" />
        <result column="MODULE" property="module" />
        <result column="IS_DELETE" property="isDelete" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="CREATE_TIME" property="createTime" />
    </resultMap>
    <!-- 查询资源服务器的请求路径允许的scope范围-->
    <select id="findUrlScopes" resultType="com.www.common.config.oauth2.dto.ScopeDTO">
        SELECT M.MODULE RESOURCE_ID,M.MENU_URL URL,M.SCOPE SCOPE FROM SYS_MENU M
        WHERE M.IS_DELETE = '0' AND M.MENU_TYPE = '2'
        <if test="resourceId != null and resourceId != ''">
            AND M.MODULE = #{resourceId}
        </if>
    </select>
    <!--  查询所以权限菜单信息-->
    <select id="findAllSecurityMenu" resultType="com.www.myblog.base.data.dto.SysRoleMenuDTO">
        SELECT DISTINCT M.MENU_URL,R.ROLE_CODE
        FROM SYS_MENU M
                     LEFT JOIN SYS_ROLE_MENU RM ON RM.MENU_ID = M.MENU_ID
                     LEFT JOIN SYS_ROLE R ON RM.ROLE_ID = R.ROLE_ID
        WHERE  M.MENU_TYPE = '2' AND M.MODULE = #{module}
    </select>
    <!--  查询用户vue的router权限-->
    <select id="findUserRouter" resultType="com.www.myblog.base.data.dto.SysMenuDTO">
        SELECT DISTINCT
                M.MENU_ID,
                M.MENU_CODE,
                M.MENU_URL,
                M.MENU_NAME,
                M.VUE_PATH,
                M.PARENT_ID,
                M.MENU_ORDER
        FROM    SYS_MENU M,
                SYS_USER_ROLE UR,
                SYS_ROLE_MENU RM,
                SYS_USER U
        WHERE M.IS_DELETE = '0'
          AND M.MENU_TYPE = '3'
          AND M.MODULE = #{module}
          AND M.MENU_ID = RM.MENU_ID
          AND UR.ROLE_ID = RM.ROLE_ID
          AND UR.SU_ID = U.SU_ID
          AND U.USER_ID = #{userId}
        ORDER BY M.MENU_ID,M.PARENT_ID,M.MENU_ORDER
    </select>
    <!--  查询用户菜单列表-->
    <select id="findUserMenu" resultType="com.www.myblog.base.data.dto.SysMenuDTO">
        SELECT DISTINCT
                M.MENU_ID,
                M.MENU_CODE,
                M.MENU_URL,
                M.MENU_NAME,
                M.PARENT_ID,
                M.MENU_ICON,
                M.MENU_ORDER
        FROM    SYS_MENU M,
                SYS_USER_ROLE UR,
                SYS_ROLE_MENU RM,
                SYS_USER U
        WHERE M.IS_DELETE = '0'
          AND M.MENU_TYPE = '1'
          AND M.MODULE = #{module}
          AND M.MENU_ID = RM.MENU_ID
          AND UR.ROLE_ID = RM.ROLE_ID
          AND UR.SU_ID = U.SU_ID
          AND U.USER_ID = #{userId}
        ORDER BY M.MENU_ORDER,M.MENU_ID,M.PARENT_ID
    </select>
    <!--    查询所有菜单-->
    <select id="findAllMenu" resultType="com.www.myblog.base.data.dto.SysMenuDTO">
        SELECT  RN.ROLE_CODE,
        M.MENU_ID,
        M.MENU_CODE,
        M.MENU_URL,
        M.MENU_NAME,
        M.VUE_PATH,
        M.PARENT_ID,
        M.MENU_ICON,
        M.MENU_ORDER,
        M.MENU_TYPE,
        M.MODULE,
        M.IS_DELETE,
        M.UPDATE_TIME,
        M.CREATE_TIME
        FROM SYS_MENU M
        <choose>
            <when test="obj.roleCode != null and obj.roleCode != ''">
                ,(SELECT RM.MENU_ID, GROUP_CONCAT( R.ROLE_NAME SEPARATOR ',' ) ROLE_CODE
                FROM SYS_ROLE R, SYS_ROLE_MENU RM WHERE R.ROLE_ID = RM.ROLE_ID
                AND R.ROLE_CODE = #{obj.roleCode} GROUP BY RM.MENU_ID ) RN
            </when>
            <otherwise>
                LEFT JOIN ( SELECT RM.MENU_ID, GROUP_CONCAT( R.ROLE_NAME SEPARATOR ',' ) ROLE_CODE
                FROM SYS_ROLE R, SYS_ROLE_MENU RM WHERE R.ROLE_ID = RM.ROLE_ID
                GROUP BY RM.MENU_ID ) RN ON RN.MENU_ID = M.MENU_ID
            </otherwise>
        </choose>
        where 1=1
        <if test="obj.roleCode != null and obj.roleCode != ''">
            AND RN.MENU_ID = M.MENU_ID
        </if>
        <if test="obj.module != null and obj.module != ''">
            AND M.MODULE = #{obj.module}
        </if>
        <if test="obj.menuType != null and obj.menuType != ''">
            AND M.MENU_TYPE = #{obj.menuType}
        </if>
        <if test="obj.menuCode != null and obj.menuCode != ''">
            AND M.MENU_CODE = #{obj.menuCode}
        </if>
        <if test="obj.menuUrl != null and obj.menuUrl != ''">
            AND M.MENU_URL = #{obj.menuUrl}
        </if>
        <if test="obj.vuePath != null and obj.vuePath != ''">
            AND M.VUE_PATH = #{obj.vuePath}
        </if>
        ORDER BY M.MENU_ID,M.PARENT_ID,M.MENU_ORDER
    </select>
</mapper>