<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.www.myblog.base.data.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.www.myblog.base.data.entity.SysUserEntity">
    <!--@Table sys_user-->
    <id column="SU_ID" property="suId" />
    <result column="USER_ID" property="userId" />
    <result column="USER_NAME" property="userName" />
    <result column="PASSWORD" property="password" />
    <result column="PHONE_NUM" property="phoneNum" />
    <result column="BIRTHDAY" property="birthday" />
    <result column="SEX" property="sex" />
    <result column="PHOTO" property="photo" />
    <result column="EMAIL" property="email" />
    <result column="BRIEF" property="brief" />
    <result column="STATE_CD" property="stateCd" />
    <result column="NOT_EXPIRED" property="notExpired" />
    <result column="NOT_LOCKED" property="notLocked" />
    <result column="CREDENTIALS_NOT_EXPIRED" property="credentialsNotExpired" />
    <result column="UPDATE_TIME" property="updateTime" />
    <result column="CREATE_TIME" property="createTime" />
  </resultMap>
  <!--  查询用户拥有的角色信息-->
  <select id="findUserRole" resultType="com.www.myblog.base.data.entity.SysRoleEntity">
    SELECT DISTINCT R.ROLE_ID, R.ROLE_CODE, R.ROLE_NAME, R.UPDATE_TIME, R.CREATE_TIME FROM SYS_USER_ROLE UR,SYS_ROLE R,SYS_USER U
    WHERE UR.ROLE_ID = R.ROLE_ID AND U.SU_ID = UR.SU_ID AND U.USER_ID = #{userId}
  </select>
  <!--  查询所有用户信息-->
  <select id="findAllUser" resultType="com.www.myblog.base.data.dto.SysUserDTO">
      SELECT U.SU_ID, U.USER_ID, U.USER_NAME,UR.ROLE_NAME,
      U.PHONE_NUM, U.BIRTHDAY, U.SEX, U.PHOTO, U.EMAIL,U.BRIEF, U.STATE_CD,
      U.NOT_EXPIRED,U.NOT_LOCKED,U.CREDENTIALS_NOT_EXPIRED,U.UPDATE_TIME, U.CREATE_TIME
      FROM SYS_USER U
      LEFT JOIN (SELECT U.SU_ID,GROUP_CONCAT( R.ROLE_NAME SEPARATOR ',' ) ROLE_NAME FROM SYS_ROLE R,SYS_USER_ROLE U WHERE U.ROLE_ID=R.ROLE_ID GROUP BY U.SU_ID) UR ON UR.SU_ID = U.SU_ID
      <where>
          <if test="obj.userId != null and obj.userId != ''">
              AND u.USER_ID = #{obj.userId}
          </if>
          <if test="obj.userName != null and obj.userName != ''">
              AND u.USER_NAME = #{obj.userName}
          </if>
          <if test="obj.stateCd != null and obj.stateCd != ''">
              AND u.STATE_CD = #{obj.stateCd}
          </if>
      </where>
  </select>
  <!--  根据ID查询用户信息-->
  <select id="findUserInfoById" resultType="com.www.myblog.base.data.dto.SysUserDTO">
      SELECT  U.SU_ID,
              U.USER_ID,
              U.USER_NAME,
              U.PHONE_NUM,
              U.BIRTHDAY,
              U.SEX,
              U.PHOTO,
              U.EMAIL,
              U.BRIEF,
              U.STATE_CD,
              U.NOT_EXPIRED,
              U.NOT_LOCKED,
              U.CREDENTIALS_NOT_EXPIRED,
              U.UPDATE_TIME,
              U.CREATE_TIME
      FROM SYS_USER U WHERE U.USER_ID = #{userId}
  </select>
</mapper>