<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.www.myblog.admin.data.mapper.SysMenuMapper">
    <resultMap id="BaseResultMap" type="com.www.myblog.admin.data.entity.SysMenuEntity">
        <!--@mbg.generated-->
        <!--@Table sys_menu-->
        <id column="MENU_ID" property="menuId" />
        <result column="MENU_CODE" property="menuCode" />
        <result column="MENU_NAME" property="menuName" />
        <result column="PARENT_ID" property="parentId" />
        <result column="MENU_ICON" property="menuIcon" />
        <result column="MENU_URL" property="menuUrl" />
        <result column="MENU_ORDER" property="menuOrder" />
        <result column="MENU_TYPE" property="menuType" />
        <result column="IS_DELETE" property="isDelete" />
        <result column="SYS_UPDATE_TIME" property="sysUpdateTime" />
        <result column="SYS_CREATE_TIME" property="sysCreateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        MENU_ID, MENU_CODE, MENU_NAME, PARENT_ID, MENU_ICON, MENU_URL, MENU_ORDER, MENU_TYPE,IS_DELETE,
        SYS_UPDATE_TIME, SYS_CREATE_TIME
    </sql>

    <!--  查询所以权限菜单信息-->
    <select id="findAllSecurityMenu" resultType="com.www.myblog.admin.data.dto.SysRoleMenuDTO">
        SELECT DISTINCT M.MENU_ID, M.MENU_CODE, M.MENU_NAME, M.PARENT_ID,
                        M.MENU_ICON, M.MENU_URL, M.MENU_ORDER, M.MENU_TYPE, M.IS_DELETE,
                        R.ROLE_ID, R.ROLE_NAME, R.DESCRIPTION, RM.SYS_CREATE_TIME, RM.SYS_UPDATE_TIME
        FROM SYS_MENU M
                     LEFT JOIN SYS_ROLE_MENU RM ON RM.MENU_ID = M.MENU_ID
                     LEFT JOIN SYS_ROLE R ON RM.ROLE_ID = R.ROLE_ID
        WHERE  M.MENU_TYPE = '2'
    </select>
    <!--  查询用户菜单列表-->
    <select id="findUserMenu" resultType="com.www.myblog.admin.data.dto.SysMenuDTO">
        SELECT  m.MENU_ID,
                m.PARENT_ID,
                m.MENU_ORDER,
                m.MENU_ICON,
                m.MENU_URL,
                m.MENU_NAME
        FROM    sys_menu m,
                sys_user_role ur,
                sys_role_menu rm
        WHERE m.IS_DELETE = '0' and m.MENU_TYPE='1'
          AND m.MENU_ID = rm.MENU_ID
          AND ur.ROLE_ID = rm.ROLE_ID
          AND ur.USER_ID = #{userId}
        ORDER BY M.MENU_ID,M.PARENT_ID,M.MENU_ORDER
    </select>
    <!--    查询所有菜单-->
    <select id="findAllMenu" resultType="com.www.myblog.admin.data.dto.SysMenuDTO">
        SELECT RN.ROLE_NAME,
                M.MENU_ID,
                M.MENU_CODE,
                M.MENU_NAME,
                M.PARENT_ID,
                M.MENU_ICON,
                M.MENU_URL,
                M.MENU_ORDER,
                M.MENU_TYPE,
                M.IS_DELETE,
                M.SYS_UPDATE_TIME,
                M.SYS_CREATE_TIME
        FROM SYS_MENU M
        <choose>
            <when test="obj.roleName != null and obj.roleName != ''">
                ,(SELECT RM.MENU_ID, GROUP_CONCAT( R.DESCRIPTION SEPARATOR ',' ) ROLE_NAME
                FROM SYS_ROLE R, SYS_ROLE_MENU RM WHERE R.ROLE_ID = RM.ROLE_ID
                AND R.ROLE_NAME = #{obj.roleName} GROUP BY RM.MENU_ID ) RN
            </when>
            <otherwise>
                LEFT JOIN ( SELECT RM.MENU_ID, GROUP_CONCAT( R.DESCRIPTION SEPARATOR ',' ) ROLE_NAME
                FROM SYS_ROLE R, SYS_ROLE_MENU RM WHERE R.ROLE_ID = RM.ROLE_ID
                GROUP BY RM.MENU_ID ) RN ON RN.MENU_ID = M.MENU_ID
            </otherwise>
        </choose>
        where 1=1
        <if test="obj.roleName != null and obj.roleName != ''">
            AND RN.MENU_ID = M.MENU_ID
        </if>
        <if test="obj.menuType != null and obj.menuType != ''">
            AND M.MENU_TYPE = #{obj.menuType}
        </if>
        <if test="obj.menuCode != null and obj.menuCode != ''">
            AND M.MENU_CODE = #{obj.menuCode}
        </if>
        <if test="obj.menuUrl != null and obj.menuUrl != ''">
            AND M.MENU_URL = #{obj.menuUrl}
        </if>
        ORDER BY M.MENU_ID,M.PARENT_ID,M.MENU_ORDER
    </select>
</mapper>