<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.www.myblog.admin.data.mapper.SysMenuMapper">
  <resultMap id="BaseResultMap" type="com.www.myblog.admin.data.entity.SysMenuEntity">
    <!--@mbg.generated-->
    <!--@Table sys_menu-->
    <id column="MENU_ID" property="menuId" />
    <result column="MENU_CODE" property="menuCode" />
    <result column="MENU_NAME" property="menuName" />
    <result column="PARENT_ID" property="parentId" />
    <result column="MENU_ICON" property="menuIcon" />
    <result column="MENU_URL" property="menuUrl" />
    <result column="MENU_ORDER" property="menuOrder" />
    <result column="MENU_TYPE" property="menuType" />
    <result column="IS_DELETE" property="isDelete" />
    <result column="SYS_UPDATE_TIME" property="sysUpdateTime" />
    <result column="SYS_CREATE_TIME" property="sysCreateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    MENU_ID, MENU_CODE, MENU_NAME, PARENT_ID, MENU_ICON, MENU_URL, MENU_ORDER, MENU_TYPE,IS_DELETE,
    SYS_UPDATE_TIME, SYS_CREATE_TIME
  </sql>

  <!--  查询所以权限菜单信息-->
  <select id="findAllSecurityMenu" resultType="com.www.myblog.admin.data.dto.SysRoleMenuDTO">
    SELECT DISTINCT M.MENU_ID, M.MENU_CODE, M.MENU_NAME, M.PARENT_ID,
                    M.MENU_ICON, M.MENU_URL, M.MENU_ORDER, M.MENU_TYPE, M.IS_DELETE,
                    R.ROLE_ID, R.ROLE_NAME, R.DESCRIPTION, RM.SYS_CREATE_TIME, RM.SYS_UPDATE_TIME
    FROM SYS_MENU M
    LEFT JOIN SYS_ROLE_MENU RM ON RM.MENU_ID = M.MENU_ID
    LEFT JOIN SYS_ROLE R ON RM.ROLE_ID = R.ROLE_ID
    WHERE  M.MENU_TYPE = '2'
  </select>
</mapper>