<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.www.myblog.admin.data.mapper.SysRoleMenuMapper">
  <resultMap id="BaseResultMap" type="com.www.myblog.admin.data.entity.SysRoleMenuEntity">
    <!--@mbg.generated-->
    <!--@Table sys_role_menu-->
    <id column="SRM_ID" property="srmId" />
    <result column="ROLE_ID" property="roleId" />
    <result column="MENU_ID" property="menuId" />
    <result column="SYS_UPDATE_TIME" property="sysUpdateTime" />
    <result column="SYS_CREATE_TIME" property="sysCreateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    SRM_ID, ROLE_ID, MENU_ID, SYS_UPDATE_TIME, SYS_CREATE_TIME
  </sql>

  <!--  根据主键删除角色菜单信息-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from sys_role_menu where SRM_ID = #{srmId}
  </delete>

  <!--  插入数据，包括空字段-->
  <insert id="insert" keyColumn="SRM_ID" keyProperty="srmId" parameterType="com.www.myblog.admin.data.entity.SysRoleMenuEntity" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_role_menu (ROLE_ID, MENU_ID, SYS_UPDATE_TIME, SYS_CREATE_TIME)
    values (#{roleId}, #{menuId}, #{sysUpdateTime}, #{sysCreateTime})
  </insert>

  <!--  插入数据，不包括空字段-->
  <insert id="insertNotNull" keyColumn="SRM_ID" keyProperty="srmId" parameterType="com.www.myblog.admin.data.entity.SysRoleMenuEntity" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_role_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        ROLE_ID,
      </if>
      <if test="menuId != null">
        MENU_ID,
      </if>
      <if test="sysUpdateTime != null">
        SYS_UPDATE_TIME,
      </if>
      <if test="sysCreateTime != null">
        SYS_CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId},
      </if>
      <if test="menuId != null">
        #{menuId},
      </if>
      <if test="sysUpdateTime != null">
        #{sysUpdateTime},
      </if>
      <if test="sysCreateTime != null">
        #{sysCreateTime},
      </if>
    </trim>
  </insert>

  <!--  根据主键查询角色菜单信息-->
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from sys_role_menu
    where SRM_ID = #{srmId}
  </select>

  <!--  根据主键更新角色菜单信息，包括空字段-->
  <update id="updateByPrimaryKey" parameterType="com.www.myblog.admin.data.entity.SysRoleMenuEntity">
    <!--@mbg.generated-->
    update sys_role_menu
    set ROLE_ID = #{roleId},
      MENU_ID = #{menuId},
      SYS_UPDATE_TIME = #{sysUpdateTime},
      SYS_CREATE_TIME = #{sysCreateTime}
    where SRM_ID = #{srmId}
  </update>
</mapper>