<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.www.myblog.admin.data.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.www.myblog.admin.data.entity.SysUserEntity">
    <!--@Table sys_user-->
    <id column="SU_ID" property="suId" />
    <result column="USER_ID" property="userId" />
    <result column="USER_NAME" property="userName" />
    <result column="PASS_WORD" property="passWord" />
    <result column="PHONE_NUM" property="phoneNum" />
    <result column="BIRTHDAY" property="birthday" />
    <result column="SEX" property="sex" />
    <result column="PHOTO" property="photo" />
    <result column="E_MAIL" property="eMail" />
    <result column="BRIEF" property="brief" />
    <result column="STATE_CD" property="stateCd" />
    <result column="NOT_EXPIRED" property="notExpired" />
    <result column="NOT_LOCKED" property="notLocked" />
    <result column="CREDENTIALS_NOT_EXPIRED" property="credentialsNotExpired" />
    <result column="SYS_UPDATE_TIME" property="sysUpdateTime" />
    <result column="SYS_CREATE_TIME" property="sysCreateTime" />
  </resultMap>
  <!--  查询用户拥有的角色信息-->
  <select id="findUserRole" resultType="com.www.myblog.admin.data.entity.SysRoleEntity">
    SELECT R.ROLE_ID, R.ROLE_NAME, R.DESCRIPTION, R.SYS_UPDATE_TIME, R.SYS_CREATE_TIME FROM SYS_USER_ROLE UR,SYS_ROLE R
    WHERE UR.ROLE_ID = R.ROLE_ID AND UR.USER_ID = #{userId}
  </select>
  <!--  查询所有用户信息-->
  <select id="findAllUser" resultType="com.www.myblog.admin.data.dto.SysUserDTO">
    SELECT SU_ID, USER_ID, USER_NAME, PHONE_NUM, BIRTHDAY, SEX, PHOTO, E_MAIL,BRIEF, STATE_CD,
        NOT_EXPIRED,NOT_LOCKED,CREDENTIALS_NOT_EXPIRED,SYS_UPDATE_TIME, SYS_CREATE_TIME
    FROM SYS_USER
      where 1=1
      <if test="obj.userId != null and obj.userId != ''">
        AND USER_ID = #{obj.userId}
      </if>
      <if test="obj.userName != null and obj.userName != ''">
        AND USER_NAME = #{obj.userName}
      </if>
      <if test="obj.stateCd != null and obj.stateCd != ''">
        AND STATE_CD = #{obj.stateCd}
      </if>
  </select>
  <!--  根据ID查询用户信息-->
  <select id="findUserInfoById" resultType="com.www.myblog.admin.data.dto.SysUserDTO">
    SELECT  U.SU_ID,
            U.USER_ID,
            U.USER_NAME,
            U.PHONE_NUM,
            U.BIRTHDAY,
            IR.ROLE_NAME,
            IFNULL(FR.FRIENDS,0) FRIENDS,
            IFNULL(FA.FANS,0) FANS,
            U.SEX,
            U.PHOTO,
            U.E_MAIL,
            U.BRIEF,
            U.STATE_CD,
            U.NOT_EXPIRED,
            U.NOT_LOCKED,
            U.CREDENTIALS_NOT_EXPIRED,
            U.SYS_UPDATE_TIME,
            U.SYS_CREATE_TIME
    FROM SYS_USER U
         LEFT JOIN (SELECT DISTINCT UR.USER_ID,R.ROLE_NAME FROM SYS_ROLE R,SYS_USER_ROLE UR WHERE R.ROLE_ID=UR.ROLE_ID AND UR.USER_ID = #{userId}) IR ON IR.USER_ID=U.USER_ID
         LEFT JOIN (SELECT UFR.USER_ID,COUNT(UFR.FRIEND_ID) FRIENDS FROM USER_FRIENDS UFR WHERE UFR.USER_ID = #{userId} GROUP BY UFR.FRIEND_ID) FR ON FR.USER_ID=U.USER_ID
         LEFT JOIN (SELECT UFA.FRIEND_ID,COUNT(UFA.USER_ID) FANS FROM USER_FRIENDS UFA WHERE UFA.FRIEND_ID = #{userId} GROUP BY UFA.USER_ID) FA ON FA.FRIEND_ID=U.USER_ID
    WHERE U.USER_ID = #{userId}
  </select>
</mapper>