<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.www.myblog.admin.data.mapper.UserFriendsMapper">
  <resultMap id="BaseResultMap" type="com.www.myblog.admin.data.entity.UserFriendsEntity">
    <!--@Table user_friends-->
    <id column="FRIENDS_ID" property="friendsId" />
    <result column="USER_ID" property="userId" />
    <result column="FRIEND_ID" property="friendId" />
    <result column="FRIEND_NAME" property="friendName" />
    <result column="SYS_UPDATE_TIME" property="sysUpdateTime" />
    <result column="SYS_CREATE_TIME" property="sysCreateTime" />
  </resultMap>
  <!--  表字段-->
  <sql id="Base_Column_List">
    FRIENDS_ID, USER_ID, FRIEND_ID, FRIEND_NAME, SYS_UPDATE_TIME, SYS_CREATE_TIME
  </sql>

</mapper>