<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.www.myblog.blog.data.mapper.BlogArticleMapper">
  <resultMap id="BaseResultMap" type="com.www.myblog.blog.data.entity.BlogArticleEntity">
    <!--@mbg.generated-->
    <!--@Table BLOG_ARTICLE-->
    <id column="BLOG_ID" property="blogId" />
    <result column="USER_ID" property="userId" />
    <result column="BLOG_THEME" property="blogTheme" />
    <result column="BLOG_CONTENT" property="blogContent" />
    <result column="BLOG_VIEWS" property="blogViews" />
    <result column="BLOG_LIKE" property="blogLike" />
    <result column="STATE_CD" property="stateCd" />
    <result column="BLOG_COMMENT" property="blogComment" />
    <result column="UPDATE_TIME" property="updateTime" />
    <result column="CREATE_TIME" property="createTime" />
  </resultMap>
  <!--  查询博主博客相关信息-->
  <select id="findAuthorInfo" resultType="com.www.myblog.blog.data.dto.AuthorDTO">
    SELECT A.USER_ID,
           A.BLOGS,
           A.LIKES,
           A.COMMENTS,
           IFNULL(D.COLLECTS,0) COLLECTS
    FROM (SELECT B.USER_ID,COUNT(B.BLOG_ID) BLOGS,SUM(B.BLOG_LIKE) LIKES,SUM(B.BLOG_COMMENT) COMMENTS FROM BLOG_ARTICLE B WHERE B.USER_ID = #{userId} GROUP BY B.USER_ID) A
         LEFT JOIN (SELECT C.USER_ID, COUNT(C.COLLECT_ID) COLLECTS FROM BLOG_COLLECT C WHERE C.USER_ID = #{userId} GROUP BY C.USER_ID) D ON A.USER_ID=D.USER_ID
  </select>
</mapper>