<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.www.myblog.blog.data.mapper.BlogGroupMapper">
  <resultMap id="BaseResultMap" type="com.www.myblog.blog.data.entity.BlogGroupEntity">
    <!--@mbg.generated-->
    <!--@Table BLOG_GROUP-->
    <id column="BG_ID" property="bgId" />
    <result column="GROUP_NAME" property="groupName" />
    <result column="USER_ID" property="userId" />
    <result column="UPDATE_TIME" property="updateTime" />
    <result column="CREATE_TIME" property="createTime" />
  </resultMap>
  <!--  查询用户的博客分组列表-->
  <select id="findBlogGroup" resultType="com.www.myblog.blog.data.dto.BlogGroupDTO">
    SELECT B.BG_ID,B.GROUP_NAME FROM BLOG_GROUP B WHERE B.USER_ID = #{userId} ORDER BY B.BG_ID
  </select>
</mapper>