<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.www.myblog.blog.data.mapper.ClassificationMapper">
  <resultMap id="BaseResultMap" type="com.www.myblog.blog.data.entity.ClassificationEntity">
    <!--@mbg.generated-->
    <!--@Table CLASSIFICATION-->
    <id column="CLASS_ID" property="classId" />
    <result column="CLASS_NAME" property="className" />
    <result column="CLASS_CODE" property="classCode" />
    <result column="UPDATE_TIME" property="updateTime" />
    <result column="CREATE_TIME" property="createTime" />
  </resultMap>
</mapper>