<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.www.myblog.blog.data.mapper.ClassifyMapper">
  <resultMap id="BaseResultMap" type="com.www.myblog.blog.data.entity.ClassifyEntity">
    <!--@mbg.generated-->
    <!--@Table classify-->
    <id column="CLASS_ID" property="classId" />
    <result column="CLASS_NAME" property="className" />
    <result column="CLASS_ALIAS" property="classAlias" />
    <result column="UPDATE_TIME" property="updateTime" />
    <result column="CREATE_TIME" property="createTime" />
  </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    CLASS_ID, CLASS_NAME, CLASS_ALIAS, UPDATE_TIME, CREATE_TIME
  </sql>

  <!--  根据主键删除数据-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from classify
    where CLASS_ID = #{classId}
  </delete>

  <!--  插入数据，包括空字段-->
  <insert id="insert" keyColumn="CLASS_ID" keyProperty="classId" parameterType="com.www.myblog.blog.data.entity.ClassifyEntity" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into classify (CLASS_NAME, CLASS_ALIAS, UPDATE_TIME, CREATE_TIME)
    values (#{className}, #{classAlias}, #{updateTime}, #{createTime})
  </insert>

  <!--  插入数据，不包括空字段-->
  <insert id="insertNotNull" keyColumn="CLASS_ID" keyProperty="classId" parameterType="com.www.myblog.blog.data.entity.ClassifyEntity" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into classify
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="className != null">
        CLASS_NAME,
      </if>
      <if test="classAlias != null">
        CLASS_ALIAS,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="className != null">
        #{className},
      </if>
      <if test="classAlias != null">
        #{classAlias},
      </if>
      <if test="updateTime != null">
        #{updateTime},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
    </trim>
  </insert>

  <!--  根据主键查询数据-->
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from classify
    where CLASS_ID = #{classId}
  </select>

  <!--  根据分类ID更新分类信息，包括空字段-->
  <update id="updateByPrimaryKey" parameterType="com.www.myblog.blog.data.entity.ClassifyEntity">
    <!--@mbg.generated-->
    update classify
    set CLASS_NAME = #{className},
      CLASS_ALIAS = #{classAlias},
      UPDATE_TIME = #{updateTime},
      CREATE_TIME = #{createTime}
    where CLASS_ID = #{classId}
  </update>
</mapper>