<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.www.myblog.blog.data.mapper.UserBlogGroupMapper">
  <resultMap id="BaseResultMap" type="com.www.myblog.blog.data.entity.UserBlogGroupEntity">
    <!--@mbg.generated-->
    <!--@Table USER_BLOG_GROUP-->
    <id column="UBG_ID" property="ubgId" />
    <result column="BG_ID" property="bgId" />
    <result column="USER_ID" property="userId" />
    <result column="BLOG_ID" property="blogId" />
    <result column="UPDATE_TIME" property="updateTime" />
    <result column="CREATE_TIME" property="createTime" />
  </resultMap>
  <!--  获取博主博客分组列表-->
  <select id="findAuthorBlogGroup" resultType="com.www.myblog.blog.data.dto.BlogGroupDTO">
    SELECT D.BG_ID,
           D.GROUP_NAME,
           COUNT(D.BLOG_ID) GROUP_NUM
    FROM (SELECT A.BLOG_ID,IFNULL(C.BG_ID,-1) BG_ID,IFNULL(C.GROUP_NAME,'未分组') GROUP_NAME FROM
         (SELECT B.BLOG_ID FROM BLOG_ARTICLE B WHERE B.USER_ID = #{userId} AND B.STATE_CD = '1') A
    LEFT JOIN (SELECT G.BG_ID,G.GROUP_NAME,UG.BLOG_ID FROM BLOG_GROUP G,USER_BLOG_GROUP UG WHERE G.USER_ID = #{userId} AND UG.BG_ID=G.BG_ID) C ON C.BLOG_ID=A.BLOG_ID) D
    GROUP BY D.BG_ID,D.GROUP_NAME ORDER BY D.BG_ID DESC
  </select>
</mapper>