<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.www.myblog.task.data.mapper.blog.BlogArticleMapper">
    <resultMap id="BaseResultMap" type="com.www.myblog.task.data.entity.blog.BlogArticleEntity">
        <!--@mbg.generated-->
        <!--@Table BLOG_ARTICLE-->
        <id column="BLOG_ID" property="blogId" />
        <result column="USER_ID" property="userId" />
        <result column="TITLE" property="title" />
        <result column="SUMMARY" property="summary" />
        <result column="COVER_IMG" property="coverImg" />
        <result column="CONTENT" property="content" />
        <result column="BROWSE" property="browse" />
        <result column="PRAISE" property="praise" />
        <result column="STATE_CD" property="stateCd" />
        <result column="COMMENT" property="comment" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="CREATE_TIME" property="createTime" />
    </resultMap>
</mapper>